#map {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index:0;
}

#menu_wrap {
    width: 300px;
    height: calc(100vh - 50px);
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    padding:10px;
    position: absolute;
    top: 20px;
    z-index:1;
    overflow-y: auto;
}

.search-container {
    position: relative;
    margin: 10px 0;
}

.search-icon {
    cursor: pointer;
}

#search-bar {
    display: inline-block;
    padding: 5px;
    width: 200px;
}

#pagination {
    text-align: center;
    margin-top: 10px;
}

#pagination a {
    text-decoration: none;
    font-family:monospace;
    color:#606060;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #bbbbbb;
    border: 1px solid #8a8a8a;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #ffffff, #ababab);
    transition: background-color 0.3s ease;
}
#pagination a:hover {
    background-image: linear-gradient(to bottom, #c4c4c4, #ffffff);
}

#pagination a.on {
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #767676, #d3d3d3);
    border-color: #999;
}

#placesList {
    list-style: none;
    padding: 0;
}

#placesList .item {
    font-family: 'Arial', sans-serif; 
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#placesList .item h5 {
    margin: 0;
    font-size: 16px; 
    font-weight: bold;
}
#placesList .item:hover {
    color:#4CAF50;
}

.info .road-address {
    color: #808080;
    font-size: 12px; 
}

.info .jibun {
    color: #808080; 
    font-size: 12px;
}

.info .tel {
    color: #4CAF50; 
    font-size: 14px; 
}
.scroll-to-top {
   scroll-behavior: smooth; 
}


