#map {
    width: 100%;
    height: 400px;
}

.search-container {
    position: relative;
    margin: 10px;
}

.search-icon {
    cursor: pointer;
}

#search-bar {
    display: none;
    padding: 5px;
    width: 200px;
}

#pagination {
    margin: 10px;
}

#pagination a {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#pagination a.on {
    background-color: #f2f2f2;
    border-color: #999;
}
