#map {
    width: 75%;
    height: 100vh;
    float: left;
}

.search-container {
    position: relative;
    margin: 10px;
}

.search-icon {
    cursor: pointer;
}

#search-bar {
    padding: 5px;
    width: 200px;
}

#pagination {
    margin: 10px;
}

#pagination a {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#pagination a.on {
    background-color: #f2f2f2;
    border-color: #999;
}

#custom-infowindow {
    width: 25%;
    height: 100vh;
    float: right;
    overflow: auto;
    background-color: rgb(255, 255, 255.0.5);
    border-left: 1px solid #ccc;
    padding: 10px;
    display: none;
}

.infowindow-content {
    padding: 5px;
    font-size: 12px;
}
